# Docs: https://caddyserver.com/docs/caddyfile
https://marinaparkrs.site {
    root /var/www/marina-park-api/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    tls luxassaraivacardoso@gmail.com
}

https://financeiro.homologacao.marinaparkrs.site {
    root /var/www/public
    
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    tls luxassaraivacardoso@gmail.com
}

https://layout.marinaparkrs.site {
    root /var/www/workspace/layout-example
    
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    tls luxassaraivacardoso@gmail.com
}


laradock1.demo:80 {
    root /var/www/public
    # Create a Webhook in git.
    #git {
	#repo https://github.com/xxx/xxx
    #    path /home/xxx
    #    #interval 60
    #    hook  webhook laradock
    #    hook_type   generic
    #}

}

laradock2.demo:80 {
    # Create a Proxy and cors.
    #proxy domain.com
	#cors
}

laradock3.demo:80 {
    import authlist.conf
    root /var/www/public
}
